@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes focus-pulse {
  0% {
    transform: scale(0.95);
    opacity: 1;
  }
  70% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
.animate-focus-pulse {
  animation: focus-pulse 1s ease-out;
  pointer-events: none; /* So it doesn't block clicks on the video */
}